/* homepage-styles.css */

.container {
    margin-top: 20px;
  }
  
  .white-btn {
    background-color: #ffffff !important;
    border-color: #ffffff !important;
  }
  
  .red-btn {
    background-color: #F05959 !important;
    border-color: #F05959 !important;
  }
  
  .button-large {
    width: 100%;
    height: 200px;
  }
  
  .button-small {
    width: 100%;
    height: 100px;
  }
  